<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body ng-app="Code-reading">
        <header></header>
        <section ng-controller="QuestionController">
            <article ng-repeat="question in questions">
                {{question.title}}
            </article>
        </section>
        
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/js/angular/app.js"></script>
        <script src="/js/angular/service/question_service.js"></script>
        <script src="/js/angular/controller/question_controller.js"></script>
    </body>
</html>
